/* transitions */

.hoverable {
  width:200px;
  height:100px;
  background: #c47c7c;
  transition: all 2s;
}

.hoverable:hover {
  width:400px;
  background: #877cc4;
}

.change {
  width:100px;
  height:100px;
  border:1px solid red;
  transition: height 2s;
}

.change.active {
  height:200px;
  width:200px;
}



/* keyframes */
@keyframes changeWidth {
  from {
    width:100px;
    height: 100px;
  }
  to {
    width: 200px;
    height: 200px;
  }
}

@keyframes withSteps {
  0% {
    width:200px;
  }
  25% {
    width: 400px;
    height:50px;
  }
  50% {
    width: 100px;
  }
  100% {
    width: 250px;
    height:100px;
    background-color: red;
  }
}

.widthChange {
  width:100px;
  height:100px;
  border:1px solid black;
}

.widthChange.active {
  animation-duration: 3s;
  animation-name: changeWidth;
  animation-delay: 1s;
  animation-direction: normal;
}
